{% extends "cs-template.html" %} {% block content %}

<!--
  Boilerplate for the TrailheaDX 2017 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  https://tdx-starter-kit.herokuapp.com/
-->


<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/?variant=record-home -->
<!-- INSERT CODE HERE -->
<!-- /PAGE HEADER -->

<!-- PROGRESS INDICATOR: https://www.lightningdesignsystem.com/components/progress-indicator/?modifiers=.slds-is-active&variant=base -->
<!-- INSERT CODE HERE -->
<!-- /PROGRESS INDICATOR -->

Welcome!

{% endblock %}